@import "./buttons.scss";
@import "./inputs.scss";
@import "./texts.scss";
// app global css in SCSS form

.max_container {
  width: min(70%, 700px);
}

.rounded_container {
  border-radius: $border-radius;
}

.result_card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: $border-radius;
}

.result_card_desktop {
  margin-bottom: 20px;
  min-width: 200px;
}

.centralized {
  margin: auto;
}

body.body--dark {
  .container_bg {
    background-color: $surface-dark;
  }

  .result_card,
  .result_card_desktop {
    background-color: $dark-page;
  }
}

body.body--light {
  .container_bg {
    background-color: $surface-light;
  }
}

@media (min-width: 600px) {
  .title_results {
    margin-left: 8px;
  }
}

@media (max-width: 700px) {
  .result_card_desktop {
    margin-bottom: 8px;
    min-width: 200px;
  }
}

.inputs-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  align-items: stretch;
  text-align: center;
  margin: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-0 {
  margin-bottom: 0;
}

.max-w-400 {
  max-width: 400px;
}

.gap-16px {
  gap: 16px;
}
