.primary-button {
  background-color: $primary;

  span {
    color: $surface-light;
  }
}

body.body--dark .primary-button {
  background-color: $primary;

  span {
    color: $dark;
  }
}

.round-button {
  background-color: $c-gray-2;
  font-size: 16px;
  border-radius: 27px;
}

body.body--dark .round-button {
  background-color: $c-gray-1;
}

.google-button {
  border-radius: $border-radius;
  border: 1px solid $c-black;
  padding: 10px;
}

body.body--dark .google-button {
  border: 1px solid $c-white;
}
