.round-button {
  background-color: $c-gray-2;
  font-size: 16px;
  border-radius: 27px;
}

.google-button {
  border-radius: 7px;
  border: 1px solid $c-black;
  padding: 10px;
}

body.body--dark .round-button {
  background-color: $c-gray-1;
}

body.body--dark .google-button {
  border: 1px solid $c-white;
}
