.welcome {
  color: $c-black;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.or {
  position: relative;
  color: $c-black;
  text-align: center;
}

.or:before,
.or:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 150px;
  height: 2px;
  content: "\a0";
  background-color: $c-gray;
  margin-left: 20px;
}
.or:before {
  margin-left: -170px;
  text-align: right;
}
